extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

      
        h1 Sada Abdullahi

      
        p Full Stack JavaScript Developer


        .about-bio

          
          p I found my love of coding in undergrad at UC Santa Barbara where I used R for statistical analyis. Despite having a non coding background, I knew I wanted to develop my skills further. That inital love has lead me here. I am now a apprentice in the Anita B/Intuit Apprenticeship Pathway Program where I am learning to code full time to become a Full Stack Software Developer. 


      .skills-contact-box.box
        h6 Skills

       
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

       
        ul
          li 619-538-7258
          li sada.abdullahi1@gmail.com

       
        a.btn-link(href='https://www.linkedin.com/in/sada-abdullahi/') LinkedIn
        a.btn-link(href='https://github.com/Suadabd') GitHub
       

    nav.nav
      a(href='/')
        span &larr;
        |  Back