extends layout.pug

block content

  article.portfolio-intro

   
    h1 Welcome to my Coding Corner!

     
    p Here you will find all my projects and the skills I've developed whilst on my coding learning journey.


  article.portfolio-project-thumbs
    .projects-box.box.grid
       each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`,alt= project.project_name)
            h2= project.project_name
